* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: rgb(88, 81, 81);
    background-image: url(../background.jpg);
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    background-position: center;
}
 main {
    height: 100vh;
 }

 img {
    width: 10rem;
    height: 100%;
 }
 nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 8rem;
    
 }

nav #al {
    border-radius: 0.5rem;
    border: none;
    padding: 0.1rem 1rem;
    background-color: red;
    color: white;
    padding-top: 5px;
   
 }

 .col{
    text-align: center;
    color: white;
    justify-content: center;
    margin: 12rem;
 }

 h1 {
    font-size: 3rem;
    font-weight: bolder;
    

 }
    #col2{
    font-size: 1.5rem;
    line-height: 3rem;
    
  }

   
  .col3 {
   margin-top: 0.5rem;
   display: flex;
   justify-content: center;
   gap: 1rem;
}

.email{
padding: 2rem 10rem;
padding-left: 1rem;
background-color: rgba(0, 0, 0, 0.566);
border: none;
justify-content: center;
border-radius: 0.5rem;
}

.material-symbols-outlined{
   size: 40rem;
}

 #col4 {
   border-radius: 0.3rem;
   border: none;
   padding: 1rem 2rem;
   background-color: red;
   color: white;
   font-size: 1.5rem;
   font-weight: bolder;
 }

 .container1, .container2, .container4{
   display: flex;
   background-color: black;
   align-items: center;
   justify-content: center;
   color: white;
 }

 .container1{
   gap: 5rem;
   padding-left:10rem;
   height: 70vh;
 }

 hr{
   border: 0.3rem solid rgb(35, 35, 35);
 }
 .text{
color: white;
align-items: center;
align-content: center;
 }
 
 #yo{
   font-size: 1.2rem;
   margin-top: 1rem;
   font-weight: 900;

   
 }
 
 .container2{
   height: 80vh;
   padding-left: 2rem;
 }

 #img2 {
   height: 100%;
   width: 50%;
 }

 #img3, #img4{
   height: 100%;
   width: 25rem;
 }
.container3{
   height: 50vh;
   padding-left: 2rem;
   justify-content: left;
   text-align: left;
   background-color: black;
   color: white;
   padding: 3rem 15rem;
}
.container4{
    height: 80vh;
   padding-left: 3rem 6rem;
   justify-content: center;
}

p{
   font-size: 1.2rem;
   font-weight: 900;
}

.a1 .material-symbols-outlined {
   color: white;
}
.container5{
   background-color: black;
   height: 130vh;
   color: white;
   text-align: center;
   

}

#ask {
   padding-top: 2rem;
}
.a1{
   display: grid;
   justify-content: center;
   align-self: center;

}
.a1 .log1{
   display: flex;
    justify-content: space-between;
   background-color: rgb(50, 48, 48);
   margin: 0.3rem;
   padding: 1.5rem 1rem;
   gap: 40rem;
}

.log1:hover {
   background-color: gray;
}

.container6{
   height: 70vh;
   background-color: black;
   display: flex;
   justify-content: space-evenly;
   padding-top: 5rem;
}

li {
margin: 1rem;

}

li a{
   color: white;
}

#so{
   margin-top: -4rem;
   line-height: 4rem;
}